;TIP: one can comment lines in this config format by adding a ; at the start of a line

[data]

pretrained_vectors_filepath = word_vectors/glove.txt
;pretrained_vectors_filepath = word_vectors/paragram.txt

vocabulary_filepath = linguistic_constraints/vocabulary.txt

; lists with files containing antonymy and synonymy constraints should be inside square brackets, delimited by commas.
antonyms = [linguistic_constraints/ppdb_antonyms.txt, linguistic_constraints/wordnet_antonyms.txt]
synonyms = [linguistic_constraints/ppdb_synonyms.txt]

;uncomment the following line and specify the location of the dialogue ontology to be used to extract additional antonyms
;ontology_filepath=linguistic_constraints/ontology_dstc3.json

[hyperparameters]

hyper_k1 = 0.1
hyper_k2 = 0.1
hyper_k3 = 0.1
delta = 1.0
gamma = 0.0
rho = 0.2